.carts{

 width: auto;
}
h1{
    width: 100%;
   
}
.cruk{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
button{

    align-items: center;
    width: 100%;
    
}