.carts{

 width: auto;
}
h1{
    width: 100%;
   
}
.cruk{
    border: 1px solid red;
  
    display: inline-block;
    width: auto;
    
   

}
button{

    align-items: center;
    width: 100%;
    
}
.btnn{
    width: 10px;
}